.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title{
  	margin: 10px 0;
  }

  .buttons{
  	display:flex;
  	justify-content: space-between;
  }
}

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .sign-in {
      width: auto;
      margin-bottom: 30px;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .sign-in {
      width: auto;
      margin-bottom: 30px;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .sign-in {
      width: auto;
      margin-bottom: 30px;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .sign-in {
      width: 380px;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .sign-in {
      width: 380px;
    }
  }