.collection-page{
	display: flex;
	flex-direction: column;

	.title{
		font-size : 38px;
		margin: 0 auto 30px;
	}

	.items{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap:10px;
	}

	&.collection-item{
		margin-bottom:30px;
	}


	/* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .items{
		grid-template-columns: 1fr 1fr;
	}
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .items{
		grid-template-columns: 1fr 1fr;
	}
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  	.items{
		grid-template-columns: 1fr 1fr;
	}
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  	.items{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  	.items{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
  }
}