.sign-in-and-sign-up{
	width:850px;
	display:flex;
	justify-content:space-between;
	margin: 30px auto;
}

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .sign-in-and-sign-up{
		width:auto;
		flex-direction: column;
		margin: 30px auto;
	}
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .sign-in-and-sign-up{
		width:auto;
		flex-direction: column;
		margin: 30px auto;
	}
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .sign-in-and-sign-up{
		width:auto;
		flex-direction: column;
		margin: 30px auto;
	}
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .sign-in-and-sign-up{
		width:850px;
		margin: 30px auto;
		flex-direction: row;
	}
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .sign-in-and-sign-up{
		width:850px;
		margin: 30px auto;
		flex-direction: row;
	}
  }